.event {
    margin-right: 28px;
    width: 356px;
    height: 500px;
    min-width: 356px;
    min-height: 500px;
    box-shadow: 4px 4px 45px rgba(109, 46, 0, 0.35);
    border-radius: 20px;
    overflow: hidden;
}


.event__img {
    width: 100%;
    height: 240px;
}

.event__content {
    background-color: var(--white-color);
    padding: 16px 26px;
    height: 260px;
    box-sizing: border-box;
}

.event__content-name {
    color: var(--text-color);
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    margin: 0;
    margin-bottom: 4px;
}

.event__content-place {
    font-size: 18px;
    line-height: 26px;
    margin: 0;
    margin-bottom: 12px;
    color: #6C7272;
}

.event__content-date {
    font-size: 18px;
    line-height: 24px;
    display: flex;
    margin: 0;
    margin-bottom: 28px;
}

.event__content-date-icon {
    color: #FFB809;
    width: 20px;
    height: 22px;
    margin: 0;
    margin-right: 6px;
}

.event__content-date-start {
    margin-right: 6px;
}

.event__content-date-end {
    margin-left: 6px;
}

.event__content-price {
    font-size: 32px;
    line-height: 24px;
    font-weight: 700;
    color: #FA7D09;
    margin: 0;
    margin-bottom: 24px;
}

.event__content-btn {
    width: 200px;
    height: 36px;
    border-radius: 8px;
    box-shadow: #BD000B 0px 4px;
}

